.shows-wrapper {
    text-align: center;
}

.shows-wrapper input {
    background: none;
    width: 600px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}

.shows-wrapper h2 {
    color: white;
}