.home-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: white;
    padding: 0 10px 20px 10px;
}

.home-container h2 {
    width: 500px;
}

.home-container h1 {
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.home-container input {
    width: 500px;
    height: 20px;
    background: none;
    border: 1px solid white;
    color: white;
}

.recommendation-container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.movie-card {
    height: fit-content;
    transition: 0.25s ease-in-out;
    text-align: center;
    /*overflow: hidden;*/
}

/*.img-cont {*/
/*    overflow: hidden;*/
/*}*/

.movie-card img {
    object-fit: cover;
    height: 400px;
    justify-self: center;
    transition: 0.25s ease-in-out;
    /*box-shadow: 0px 5px 10px 0px white;*/
    /*box-shadow: 1px 1px 1px 2px white;*/
}

.movie-card img:hover {
    /*height: 405px;*/
    box-shadow: 0px 5px 10px 5px rgba(255, 255, 255, 0.24);
    /*box-shadow: 1px 1px 1px 4px white;*/
}

.recommendation-container a {
    text-decoration: none;
    color: white;
}