.genre-container {
    /*background: white;*/
    padding: 20px;
    margin-top: 50px;
}

.genre-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.genre-btns button {
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    transition: 0.15s ease-in-out;
    padding: 10px;
}

.genre-btns button:hover {
    background: white;
    color: #000001;
}

.genre-container h1 {
    margin: 40px 30px 40px 0;
    color: white;
}

.genre-results-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    color: white;
}

.genre-results-container .genre-card img {
    object-fit: cover;
    height: 400px;
    justify-self: center;
    transition: 0.25s ease-in-out;

}

.genre-results-container .genre-card {
    height: fit-content;
    text-align: center;
    color: white;
    text-decoration: none;
}

.genre-results-container a {
    text-decoration: none;
    color: white;
}