@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #060606;
    /*backgroundImage: "url(src/Assets/jake-weirick-Q_RBVFFXR_g-unsplash.jpg)";*/
    /*backgroundSize: 'cover';*/
    /*backgroundRepeat: 'no-repeat';*/
    /*background-image: url("");*/
    padding: 0;
}

